.DS_Store
.RData
.Rhistory
*~
data
data/*
analyses/cache/*
analyses/models/*
stimuli/mixtures/**/*.wav
stimuli/mixtures/**/*.direc
stimuli/mixtures/**/*.txt
*.swp
.tags
tags
.undo/*
.vscode
install.json
