/nearfar_earlylate.csv
/eeg_nearfar_coefs.csv
/eeg_nearfar.csv
/eeg_salience_earlylate.csv
/behavior_salience.csv
/eeg_condition_coefs.csv
/salience-hyperparams.json
/condition_lambdas.json
/eeg_salience_earlylate_coefs.csv
/nearfar-hyperparams.json
/eeg_salience.csv
/behavioral_condition.csv
/behavioral_condition_coefs.csv
/condition-and-baseline.json
/salience_lambdas.json
/eeg_salience_timeline.csv
/salience-target-time_classifier=logistic_l1.csv
/eeg_salience_timeline_correct.csv
/salience-freqmeans-timeline.json
/nearfar_lambda_switchbreak.csv
/eeg_condition.csv
/salience-target-time_classifier=svm_radial.csv
/salience-target-time_classifier=gradient_boosting.csv
/baseline-switch-by-hit_classifier=svm_radial.csv
