/nearfar_earlylate.csv
/eeg_nearfar_coefs.csv
/eeg_nearfar.csv
/behavior_salience.csv
/eeg_condition_coefs.csv
/eeg_salience.csv
/behavioral_condition.csv
/behavioral_condition_coefs.csv
/eeg_salience_timeline.csv
/eeg_salience_timeline_correct.csv
/eeg_condition.csv
/nearfar_behavior_coefs.csv
/hit_by_switch.csv
/condition-lambdas-foldmap.arrow
/condition-lambdas-hyperparamsdf.arrow
/condition-lambdas-predictbasedf.arrow
/condition_coefs-coefdf.arrow
/salience-hyperparams-foldmap.arrow
/salience-hyperparams-hyperparamsdf.arrow
/salience-hyperparams-resultdf_timeline.arrow
/decode
/decode-timeline
/salience-freqmeans-timeline-resultdf_timeline.arrow
/decode-data
